*{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.post-title{
    font-size: 36px;
    font-weight: bold;
    color: #212529;
}
.header-content{
    /* background: linear-gradient(180deg,#684efb .01%,#5a00dd 100.01%)!important; */
}
.BlogItem{
    display: flex;
    justify-content: center;
    
}
a{
    text-decoration: none;
}
.DateA{
    display: flex;
    justify-content: space-between;
}
.CardFbody{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    height: 30rem;
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
}
.CardContent{
    padding: 20px 20px;
}
p{
    line-height: 24px;
    font-size: 16px;
    color: black;
}
.BlogBtn{
    border: none;
}
@media screen and (max-width: 1199px) {
    .CardFbody{
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
        height: 29rem;
        margin-bottom: 40px;
        /* padding-bottom: 10px; */
        overflow: hidden;
        border-radius: 10px;
    }
    .BloGH{
        font-size: 18px!important;
    }
  }  

  @media screen and (max-width: 991px) {
    .CardFbody{
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
        height: 30rem;
        margin-bottom: 40px;
        /* padding-bottom: 10px; */
        overflow: hidden;
        border-radius: 10px;
    }
    .BloGH{
        font-size: 18px!important;
    }
  }  