*{
    margin: 0;
}

.ClubDeNav ul{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 12px;
    list-style-type: none;
}
.active {
    color: red;
    font-weight: 500;
    cursor: pointer;
  }
  .VdoH.active {
    color: red;
  }
.ClubDeNav ul li{
    margin-right: 40px;
}
.ClubDeNav ul li a:hover{
    color: #7F56D9!important;
}
.ClubSHead{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 445px;
}
.LiveImg img{
    display: none;
}
.LiveClass h1{
    font-size: 45px;
    font-weight: 700;
}
.LiveClass{
    margin: 20px;
    padding: 2% 0px;
}
.ClubSHead h2{
    margin: 6px;
}
/* .VdoImg{
    height: 120px;
    width: 180px;
} */
.AlignIt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.YtVdo{
    border-radius: 25px;
}
.iframe{
    border: 0;
    height: 440px;
    width: 100%;
    border-radius: 25px;
}
.VdoSec{
    align-self: stretch;
    max-height: 550px;
    max-width: 350px;
    background: #fff;
    box-shadow: 0 10px 50px rgb(25 37 52 / 14%), 0 2px 5px rgb(25 37 52 / 3%);
    border-radius: 13px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid lightgray;
}
.VdoH{
    cursor: pointer;    color: #646464;
}
@media screen and (max-width: 1199px) {
    .VdoBox{
        height: 90px;
        margin-bottom: 90px;
        margin-top: 10px;
    }
    .iframe{
        border: 0;
        margin-top: 12px;
        height: 400px;
        width: 100%;
        border-radius: 25px;
    }
  }  
@media screen and (max-width: 991px) {
    .ClubBox{
        /* height: 80vh; */
        display: flex;
        flex-direction: column;
        justify-content: center;    
    }
    .LiveClass{
        text-align: center;
        margin: 0;
    }
    .iframe{
        border: 0;
        height: 350px;
        width: 100%;
        border-radius: 25px;
    }
    .ClubDeNav ul li{
        margin-right: 0px;
        text-align: center;
    }
    .ClubDeNav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 40vh;
        text-align: center;
        padding: 12px;
        list-style-type: none;
    }
    .ClubSHead{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ClubBody{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .VdoBox{
        height: 130px;
        margin-bottom: 50px;
        margin-top: 10px;
    }
    .YtVdo{
        height: 165px;
        border-radius: 30px;
    }
    .VdoSec{
        border: none;
        height: auto;
        /* overflow: auto; */
        max-width: 100%;
        border-radius: 17px;
        box-shadow: 0 4px 20px rgba(0,0,0,.1)!important;
        margin-bottom: 50px;
        margin-top: 10px;
    }
    .LiveImg img{
        display: block;
    }
  }  

  @media screen and (max-width: 767px) {
    .iframe{
        border: 0;
        height: 350px;
        width: 100%;
        border-radius: 25px;
    }
    .VdoBox{
        height: 155px;
        margin-bottom: 135px;
        margin-top: 20px;
        text-align: center;
        display: flex;
        justify-content: center;;
    }
    .YtVdo{
        height: 185px;
        width: 400px;
        border-radius: 30px;
    }
    .VdoSec{
        border: none;
        height: auto;
        /* overflow: auto; */
        border-radius: 17px;
        box-shadow: 0 4px 20px rgba(0,0,0,.1)!important;
        margin-bottom: 50px;
        margin-top: 10px;
    }
  }  
  @media screen and (max-width: 554px) {
    .iframe{
        border: 0;
        height: 240px;
        width: 100%;
        border-radius: 25px;
    }
  }  