*{
    margin: 0;
}
.ClubSHead{
    padding: 10px 20px;
}
.ClubSHead img{
    margin-bottom: 10px;
}
.ClubDeNav ul{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 12px;
    list-style-type: none;
}
.ClubDeNav ul li{
    margin-right: 40px;
}
.ClubDeNav ul li a:hover{
    color: #7F56D9!important;
}
.ClubSHead{
    display: flex;
    flex-direction: row;
}
.LiveImg img{
    display: none;
}
.LiveClass h1{
    font-size: 45px;
    font-weight: 700;
}
.LiveClass{
    margin: 20px;
    padding: 2% 0px;
}
.ClubSHead h2{
    margin: 6px;
}
/* .VdoImg{
    height: 120px;
    width: 180px;
} */
.VdoBox{
    /* height: 110px; */
    margin-bottom: 50px;
    margin-top: 10px;
    text-align: left;
}
.YtVdo{
    border-radius: 25px;
}
.VdoSec{
    border: 1px solid rgba(128, 128, 128, 0.256);
    /* height: 36.5vh; */
    /* overflow: scroll; */
    /* overflow-x: hidden; */
    border-radius: 17px;
    box-shadow: 0 4px 20px rgba(0,0,0,.1)!important;
}
@media screen and (max-width: 1199px) {
    .VdoBox{
        height: 90px;
        margin-bottom: 90px;
        margin-top: 10px;
    }
  }  
@media screen and (max-width: 991px) {
    .LiveClass{
        text-align: center;
        margin: 0;
    }
    .ClubDeNav ul li{
        margin-right: 0px;
        text-align: center;
    }
    .ClubDeNav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 40vh;
        text-align: center;
        padding: 12px;
        list-style-type: none;
    }
    .ClubSHead{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ClubBody{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .VdoBox{
        height: 130px;
        margin-bottom: 50px;
        margin-top: 10px;
    }
    .YtVdo{
        height: 165px;
        border-radius: 30px;
    }
    .VdoSec{
        border: none;
        height: auto;
        /* overflow: auto; */
        border-radius: 17px;
        box-shadow: 0 4px 20px rgba(0,0,0,.1)!important;
        margin-bottom: 50px;
        margin-top: 10px;
    }
    .LiveImg img{
        display: block;
    }
  }  

  @media screen and (max-width: 767px) {
    .VdoBox{
        height: 155px;
        margin-bottom: 135px;
        margin-top: 20px;
        text-align: center;
        display: flex;
        justify-content: center;;
    }
    .YtVdo{
        height: 185px;
        width: 400px;
        border-radius: 30px;
    }
    .VdoSec{
        border: none;
        height: auto;
        /* overflow: auto; */
        border-radius: 17px;
        box-shadow: 0 4px 20px rgba(0,0,0,.1)!important;
        margin-bottom: 50px;
        margin-top: 10px;
    }
  }  