/* .SignUpImg{
    height: 440px;
    margin-top: 80px;
} */
.SignUpComponent{
    /* height: 70vh; */
    text-align: center;
}
/* .SBox{
    margin: 100px 0px;
} */
form input{
    width: 350px;
    padding: 8px 20px;
    border-radius: 8px;
    border: 1px solid gray;
    margin: 12px;
}
.SBottom{
    margin-bottom: 40px;
}
.buttons{
    width: 350px;
    margin: 5px 20px;
    font-weight: 500;
}
@media only screen and (max-width:991px) {
    form input{
        width: 250px;
        padding: 8px 20px;
        border-radius: 8px;
        border: 1px solid gray;
        margin: 12px;
    }
    hr{
        width: auto;
        margin-left: auto;
    }
    .buttons{
        width: auto;
        margin: 5px 20px;
        font-weight: 600;
    }
}
@media screen and (max-width: 991px) {
   .ImgBoxSignUp{
    display: none;
   }
  }  

  /* @media screen and (max-width: 1400px) {
    .SignUpComponent{
        height: 75vh;
        text-align: center;
    }
   }     */