.NotContent{
    text-align: center;
    height: 52vh;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 451px) {
    .ImgStyleNot{
        height: 200px!important;
        margin: 50px auto;
    }
   }  