*{
    margin: 0;
}
.ClubSHead{
    padding: 10px 20px;
}
.ClubSHead img{
    margin-bottom: 10px;
}
.ClubDeNav ul{
    display: flex;
    flex-direction: row;
    width: 40vh;
    justify-content: space-between;
    border: 1px solid gray;
    text-align: center;
    padding: 12px;
    border-radius: 25px;
    list-style-type: none;
}
/* .VdoImg{
    height: 120px;
    width: 180px;
} */
.VdoSec{
    text-align: center;
    height: 27vh;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 10px;
    padding: 10px 0px;
}
@media screen and (max-width: 991px) {
    .ClubSHead{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ClubBody{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }  